altgraph==0.17
auto-py-to-exe==2.7.3
bottle==0.12.20
bottle-websocket==0.2.9
Eel==0.11.0
future==0.18.2
gevent==20.5.2
gevent-websocket==0.10.1
greenlet==0.4.15
macholib==1.14
pygame==2.0.0.dev6
PyInstaller==3.6
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
